@import "_variables";

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

html {
	 -webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}
*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

$icon-size: 48px;
$border-radius: 3px;
$border-size: 2px;

.player {
	display: flex;

	.effects, .spells {
		flex-grow: 1;
		display: flex;
		flex-wrap: wrap;
		max-width: 5 * ($icon-size + 2px);
		align-content: flex-start;

		.icon {
			margin: 1px;
		}
	}

	.effects {
		justify-content: flex-end;
	}

	.avatar {
		.icon-2x {
			margin: 1px;
		}
	}

	.bar {
		height: 2 * $border-radius + 2 * $border-size;
		border: $border-size solid;
		border-radius: $border-radius;
		background-color: white;
		margin: 1px 0;

		.complete {
			height: 100%;
		}
		
		&.red {
			border-color: $red;

			.complete {
				background-color: $red;
			}
		}

		&.blue {
			border-color: $blue;

			.complete {
				background-color: $blue;
			}
		}
	}
}

.icon {
	position: relative;
	border-radius: $border-radius;
	font-size: $icon-size - 2 * $border-size;
	height: $icon-size;
	line-height: $icon-size;
	text-align: center;
	width: $icon-size;
}

.icon-2x {
	$size: 2 * $icon-size + 2px;
	border-radius: 2 * $border-radius;
	font-size: $size - 2 * $border-size;
	height: $size;
	line-height: $size;
	text-align: center;
	width: $size;
}

.spell {
	display: inline-block;
	color: white;
	border: 2px solid;
	cursor: pointer;

	.cooldown {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0.5;
		background-color: black;
	}

	&.red {
		background-color: $red;
		border-color: $red;

		&:hover {
			background-color: white;
			color: $red;
		}
	}

	&.blue {
		background-color: $blue;
		border-color: $blue;

		&:hover {
			background-color: white;
			color: $blue;
		}
	}

	&.green {
		background-color: $green;
		border-color: $green;

		&:hover {
			background-color: white;
			color: $green;
		}
	}

	&.yellow {
		background-color: $yellow;
		border-color: $yellow;

		&:hover {
			background-color: white;
			color: $yellow;
		}
	}

	&.orange {
		background-color: $orange;
		border-color: $orange;

		&:hover {
			background-color: white;
			color: $orange;
		}
	}

	&.purple {
		border-color: $purple;
		background-color: $purple;

		&:hover {
			background-color: white;
			color: $purple;
		}
	}
}